.box{
    height: 400px;
    width: 400px;
   background: linear-gradient(rgba(255, 255, 255, 0),rgb(255,255,255,0.1));
   backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0 0 20px black;
    border: 2px solid rgb(255, 255, 255);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-transform: capitalize;
    background: url(5.jpg) no-repeat;
    background-size: cover;
}
.user{
    width: 100%;
    color: transparent;
    outline: none;
    border: 40px;
}

.user input{
    width: 77%;
    height: 100%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    background: transparent;
    margin: 20px;
    padding: 20px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.pass input{
    width: 77%;
    height: 100%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    background: transparent;
    margin: 20px;
    padding: 20px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    /* color: #ffffff; */
    color: rgb(255, 255, 255);
}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 
    color: rgb(255, 255, 255);
}
.btn{
    width: 83%;
}
.btn button{
    width: 107%;
    height: 100%;
   background-color: #fbfbfb;
    border-radius: 30px;
    padding: 20px;
    justify-content: center;
    font-size: 20px;
    align-items: center;
    margin: 20px;
    text-transform: capitalize;
    cursor: pointer;
}

  .user input::placeholder {
    color:rgb(255, 255, 255);
    font-size: larger;
  }
  .pass input::placeholder {
    color:rgb(255, 255, 255);
    font-size: larger;
  }
  .btn button button:hover{
    background-color: rgb(255, 255, 255);
  }